<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur Ymazon.</h1>
  <p class="lead">La marketplace de référence</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/products" role="button">Voir les produits</a>
  </p>
</div>
