<div class="row justify-content-center">
  <!-- IF NOT REGISTRED -->
  <form class="col-md-5" *ngIf="registeredSuccessfully === null">
    <fieldset>
      <legend>INSCRIPTION</legend>
      <div class="form-group">
        <label>Adresse email</label>
        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email">
        <small id="emailHelp" class="form-text text-muted">Ce sera votre login</small>
      </div>
      <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" class="form-control" placeholder="Mot de passe" name="password" [(ngModel)]="user.password">
      </div>
      <div class="form-group">
        <label>Prénom</label>
        <input type="text" class="form-control" placeholder="Prénom" name="firstName" [(ngModel)]="user.firstName">
      </div>
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" placeholder="Nom" name="lastName" [(ngModel)]="user.lastName">
      </div>
      <div class="form-group">
        <label>Date de naissance</label>
        <input type="text" class="form-control" placeholder="Date de naissance" name="dateOfBirth" [(ngModel)]="user.dateOfBirth">
      </div>
      <button type="submit" class="btn btn-primary" (click)="register(user)">S'inscrire</button>
    </fieldset>
  </form>

  <!-- SUCCESFULLY REGISTRED-->
  <div class="col-md-5" *ngIf="registeredSuccessfully">
    <div class="alert alert-dismissible alert-success">
      <strong>Incription réussi !</strong>
    </div>
    <button type="button" class="btn btn-primary text-center" routerLink="/login">Se connecter</button>
  </div>

  <!-- FAILED REGISTRED-->
  <div class="alert alert-dismissible alert-success col-md-5" *ngIf="!registeredSuccessfully && registeredSuccessfully !== null">
    <strong>Incription ratée...</strong>
  </div>
</div>
