<h2>
  Votre compte
  <i class="fa fa-user" aria-hidden="true">&nbsp;</i>
</h2>
<br>


<div>
  <!-- Account -->
  <h4>Résumé du compte:</h4>
  &nbsp;
  <h5>{{ currentUser().firstName}}</h5>
  <h5>{{ currentUser().lastName}}</h5>
  <h5>{{ currentUser().dateOfBirth}}</h5>
  &nbsp;

  <!-- User Orders -->
  <h4>Vos commandes:</h4>
  <div *ngIf="userOrders.length > 0" >
    <table class="table table-info">
      <thead>
      <tr>
        <th>Id de la commande </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-secondary" *ngFor="let order of userOrders">
        <th>{{ order._id }}</th>
        <td>
          <button class="btn btn-primary float-right">Télécharger la facture</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="alert alert-dismissible alert-danger" *ngIf="userOrders.length <= 0">
      <strong>Vous avez passé aucune commande</strong>
  </div>
</div>
