<h2>
  Panier
  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
</h2>
<br>

<div class="alert alert-dismissible alert-danger" *ngIf="productInBasket.length <= 0">
  <strong>Panier vide</strong>
</div>

<div *ngIf="!basketOrdered && productInBasket.length > 0" >
  <table class="table table-info">
    <thead>
    <tr>
      <th>Produit</th>
      <th>Marque</th>
      <th>Prix</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-secondary" *ngFor="let product of productInBasket">
      <th>{{ product.name }}</th>
      <td>{{ product.brand}}</td>
      <td>{{ product.price + '€ TTC'}}</td>
      <td></td>
    </tr>

    <tr class="table-dark">
      <th>TOTAL</th>
      <td></td>
      <td></td>
      <td>{{ calculateTotalPrice() + '€ TTC'}}</td>
    </tr>
    </tbody>
  </table>

  <button class="btn btn-primary float-right" (click)="createOrder()">Commander</button>
</div>

<div *ngIf="basketOrdered">
  <div class="alert alert-dismissible alert-success">
    <strong>Commande réussie! </strong>
  </div>
  <button class="btn btn-primary">Télécharger la facture</button>
  <button class="btn btn-primary" routerLink="/products">Revenir aux produits</button>
</div>


