<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Ymazon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- PRODUCT -->
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/products">
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
          Produits
        </a>
      </li>
    </ul>
    <!-- IF USER IS NOT CONNECTED-->
    <form class="form-inline my-2 my-lg-0" *ngIf="!userIsConnected()">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Se connecter <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/register">S'inscrire <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </form>
    <!-- IF USER IS CONNECTED-->
    <form class="form-inline my-2 my-lg-0" *ngIf="userIsConnected()">
      <ul class="navbar-nav mr-auto">
        <!-- BASKET -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/basket">
            <i class="fa fa-shopping-basket" aria-hidden="true">&nbsp;</i>
            <span>Panier</span>
          </a>
        </li>
        <!-- USER NAME -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/account">
            <i class="fa fa-user" aria-hidden="true">&nbsp;</i>
            <span>Bienvenue {{currentUser().firstName}}</span>
          </a>
        </li>
        <!-- LOGOUT -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true">&nbsp;</i>
            <span>Déconnexion</span>
          </a>
        </li>
      </ul>
    </form>
  </div>
</nav>

<!-- Content -->
<div class="container">
  <router-outlet></router-outlet>
</div>

