<h2>
  Produits
  <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
</h2>
<br>

<div *ngIf="products.length > 0">
  <div *ngFor="let product of products">
    <div class="card border-primary mb-3">
      <div class="card-body text-primary">
        <h4 class="card-title">{{ product.name + ' - ' + product.brand}}</h4>
        <div class="card-text float-left">{{ product.price + '€ TTC'}}</div>

        <button *ngIf="currentUser" type="button" class="btn btn-primary float-right" (click)="addProductToBasket(product._id)">Ajouter dans le panier</button>
        <button *ngIf="!currentUser" type="button" class="btn btn-primary float-right" title="Veuillez vous connectez pour ajouter un produit dans votre panier" disabled>Ajouter dans le panier</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="products.length <= 0">
  <div class="alert alert-dismissible alert-danger">
    <strong>Aucun produit disponible... </strong>
  </div>
</div>
