<div class="row justify-content-center">
  <form class="col-md-5">
    <fieldset>
      <legend>CONNEXION</legend>
      <div class="form-group">
        <label>Adresse email</label>
        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" class="form-control" placeholder="Mot de passe" name="password" [(ngModel)]="user.password">
      </div>
      <div class="alert alert-dismissible alert-danger" *ngIf="authenticatedFailed">
        <strong>Identifiants incorrects... Veuillez réessayer</strong>
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">S'inscrire</button>
    </fieldset>
  </form>
</div>
